@model IEnumerable<OuviCidadeV3.Models.Noticia>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #7AB6FF;
        }
    </style>
</head>
<body>

    <h1 class="text-center mt-5 mb-3">Todas as Notícias</h1>

    @if (Program.Admin != null)
    {
        <p class="text-center">
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    }

    @foreach (var item in Model)
    {

        <div class="row">

            <div class="col text-center" style="margin-top: 50px">

                <ul>
                    <li class="nav-item rounded-pill" style="background-color: white; padding: 10px 20px; margin-bottom: 20px;">
                        <h4>Titulo</h4> @item.Titulo
                    </li>

                    <li class="nav-item rounded-pill" style="background-color: white; padding: 10px 20px; margin-bottom: 20px;">
                        <h6>Data de Publicação @item.DataCriacao.ToShortDateString()</h6>
                    </li>
                </ul>

            </div>

            <div class="col text-center">

                <div class="text-center">
                    <ul>
                        <li class="nav-item rounded-pill" style="background-color: white; padding: 10px 20px; margin-bottom: 20px">
                            @item.Texto
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <hr style="height: 10px; color: white">


    }

    <div class="text-center">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Página Inicial</a>
    </div>

</body>
</html>



