@model OuviCidadeJM.Models.Noticia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Proprietario" class="control-label"></label>
                <input asp-for="Proprietario" class="form-control" />
                <span asp-validation-for="Proprietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalhes" class="control-label"></label>
                <input asp-for="Detalhes" class="form-control" />
                <span asp-validation-for="Detalhes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resumo" class="control-label"></label>
                <input asp-for="Resumo" class="form-control" />
                <span asp-validation-for="Resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

