@model OuviCidadeV3.Models.Cidadao

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Cidadao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<!-- O restante do seu HTML aqui -->
@if (!string.IsNullOrEmpty(ViewData["Mensagem"] as string))
{
    <script>
        alert('@Html.Raw("Login Realizado@");
    </script>
}

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <script>
        alert('@Html.Raw(ViewData["ErrorMessage"])');
    </script>
}