@model IEnumerable<OuviCidadeV3.Models.Cidadao>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #4682B4;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <h1 class="h1-text">Estamos</h1>
            <div class="ouvindo">
                <h1 class="h1-text">Ouvindo.</h1>
            </div>
            <style>
                .h1-text {
                    font-weight: 700;
                    font-weight: bold;
                    font-size: 90px;
                    font-weight: bold;
                    color: #fff;
                }

                .ouvindo {
                    padding-left: 30px;
                    margin-top: -28px;
                }
            </style>
        </div>
    </div>
</div>

<div class="row">

    <div class="col text-center">

        <div class="text-center">
            <img src="~/FrontEnd/assets/digital.png" style="max-width: 100%; max-height: 100%; margin-top: -110px;" />
        </div>

    </div>

    <div class="col text-center">

        <div class="text-center">
            <ul>
                <li class="nav-item text-white rounded-pill" style="background-color: #fff; padding: 10px 20px; margin-bottom: 20px; margin-top: -30px;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cidadao" asp-action="Create">Criar Conta</a>
                </li>

                <li class="nav-item text-white rounded-pill" style="background-color: #fff; padding: 10px 20px; margin-bottom: 20px;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cidadao" asp-action="AreaCidadao">Área do Cidadão</a>
                </li>

                <li class="nav-item text-white rounded-pill" style="background-color: #fff; padding: 10px 20px; margin-bottom: 20px;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Noticia" asp-action="Index">Notícias</a>
                </li>

                <li class="nav-item text-white rounded-pill" style="background-color: #fff; padding: 10px 20px; margin-bottom: 20px;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Manifestacao" asp-action="Index">Manifestações</a>
                </li>

                <li class="nav-item text-white rounded-pill" style="background-color: #fff; padding: 10px 20px; margin-bottom: 20px;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Secretaria" asp-action="Index">Secretarias</a>
                </li>

                <li class="nav-item text-white rounded-pill" style="background-color: #fff; padding: 10px 20px; margin-bottom: 20px;">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdmLogin">Area Administrador</a>
                </li>

                @if (Program.Admin != null)
                {
                    <li class="nav-item text-white rounded-pill" style="background-color: #fff; padding: 10px 20px; margin-bottom: 20px;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Manifestacao" asp-action="Responder">Responder Manifestações</a>
                    </li>

                    <li class="nav-item text-white rounded-pill" style="background-color: #fff; padding: 10px 20px; margin-bottom: 20px;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Administradores</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" style="color: white;">building Web apps with ASP.NET Core</a>.</p>
</div>


